/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Add this to your global CSS file */
:root {
  --marvellBlue: #0074d9; /* Primary Marvell Blue */
  --marvellBlueDark: #005bb5; /* Darker shade of Marvell Blue */
  --marvellGray: #f4f4f4; /* Light background gray */
}

body {
  font-family: "Arial", sans-serif; /* You can use the official font if available */
}

.bg-marvellBlue {
  background-color: var(--marvellBlue);
}

.bg-marvellBlueDark {
  background-color: var(--marvellBlueDark);
}

.text-marvellBlue {
  color: var(--marvellBlue);
}

.border-marvellBlue {
  border-color: var(--marvellBlue);
}
